<h1>All Flights</h1>
<% @flights.each do |flight| %>
  <p>Flight Number: <%= flight.number %> Airline: <%= flight.airline.name %></p>
  <p>Passengers: </p>
  <% flight.passengers.each do |passenger| %>
    <%= passenger.name %>
    <%= link_to "Remove #{passenger.name}", flight_passenger_path(passenger.flight_passengers.related(flight)), method: :delete %><br> %>
  <% end %>
<% end %>
